;
; All paths are relative to the location of this configuration file
;

; Load repository templates
< repository.cfg

[paths]
repository  = repository.cfg
logs        = ../log"

[devices]
models      = models/
load        = device/*.cfg

[repository]
@template:mercurial
path        = ../repository
